<%= form_tag("/admin/preferences") do%>
  <h2>Preferences</h2>
  <h3>Song Sort Order:</h3>
    <p><input type="radio" name="song_sort" value="ASC"> ASC</p>
    <p><input type="radio" name="song_sort" value="DSC"> DSC</p>
<% end %>