<%= form_tag(admin_preference_path, method: "patch") do%>
  <h2>Preferences</h2>
  <h3>Song Sort Order:</h3>
    <p><input type="radio" name="song_sort_order" value="ASC" checked="true"> ASC</p>
    <p><input type="radio" name="song_sort_order" value="DESC"> DESC</p>
  <h3>Artist Sort Order:</h3>
    <p><input type="radio" name="artist_sort_order" value="ASC" checked="true"> ASC</p>
    <p><input type="radio" name="artist_sort_order" value="DESC"> DESC</p>
  <h3>Allow Creating Songs:</h3>
    <p><input type="radio" name="allow_create_songs" value="true" checked="true"> True</p>
    <p><input type="radio" name="allow_create_songs" value="false"> False</p>
  <h3>Allow Creating Artists:</h3>
    <p><input type="radio" name="allow_create_artists" value="true" checked="true"> True</p>
    <p><input type="radio" name="allow_create_artists" value="false"> False</p>
    <%= submit_tag %>
<% end %>